{% extends 'base.html.twig' %}

{% block title %}Aritcles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets_product/styles/production.css') }}">
{% endblock %}

{% block body %}

    <!-- Body -->
    <main>
        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Cabin -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{{ asset('uploads/'~article.image ) }}" alt="Cabin">
                        <div class="pattern pattern--left-down absolute z1">  </div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <h3>{{ article.title }}</h3>
                    <p> {{ article.description }}</p>
                </div>

            </section>

        </div>

    </main>









{#    <!-- Product -->#}
{#    <div class="product">#}
{#        <div class="container">#}
{#            <div class="row">#}

{#                <!-- Product Image -->#}
{#                <div class="col-lg-6">#}
{#                    <div class="product_image_slider_container">#}
{#                        <div id="slider" class="flexslider">#}
{#                            <ul class="slides">#}
{#                                <li>#}
{#                                    <div><img src="{{ asset('uploads/'~article.image ) }}" /></div>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <!-- Product Info -->#}
{#                <div class="col-lg-6 product_col">#}

{#                            <h2 class="product_info">{{ article.title }}</h2>#}

{#                            <br>#}
{#                            <h3>Description :</h3>#}
{#                            <h4>{{ article.description }}</h4>#}
{#                    <button class="btn btn-success" style="  padding: 15px 32px;  font-size: 50px;" type="submit">Add to basket</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#</div>#}
{% endblock %}
